* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#2d0080),
    to(#00ff15)
  );
  background-image: linear-gradient(to bottom left, #2d0080, #00ff15);
  color: #fff9f9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
h1 {
  font-size: 2.5rem;
}
nav {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2 1 40rem;
  flex: 2 1 40rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer {
  z-index: 5;
  height: 10rem;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#2d0080),
    to(#00ff15)
  );
  background-image: linear-gradient(to bottom left, #2d0080, #00ff15);
}
.box {
  text-align: center;
  padding: 8rem;
  width: 50rem;
  height: 50rem;
  margin: 4rem;
  -webkit-box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3),
    10px 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3),
    10px 5px 5px rgba(0, 0, 0, 0.4);
}
.box1 {
  padding: 4rem;
  padding-top: 11rem;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(rgba(49, 69, 255, 0.2)),
    to(rgba(0, 81, 128, 0.7))
  );
  background-image: linear-gradient(
    to bottom left,
    rgba(49, 69, 255, 0.2),
    rgba(0, 81, 128, 0.7)
  );
}
.box1 p {
  font-size: 2rem;
  font: medium;
  text-align: left;
}
.box2 {
  background-image: url(/arive.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.box2 h1 {
  background: rgba(255, 255, 255, 0.5);
  padding: 6px;
}
.box3 {
  background-image: url(/joker.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.box3 h1 {
  background: rgba(255, 255, 255, 0.5);
  padding: 6px;
}
.box4 {
  background-image: url(/answer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.box4 h1 {
  background: rgba(255, 255, 255, 0.5);
  padding: 6px;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: auto;
}
.section1 {
  height: 70rem;
  background-image: url(/wise.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section1 h1 {
  font-size: 4rem;
  position: absolute;
  top: 11rem;
  left: 15rem;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
}
.section1 .box5 {
  height: 70rem;
  background-image: url(/realAnswer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section1 .accordion {
  position: absolute;
  top: 25rem;
  left: 15vw;
}
.accordion {
  padding: 15px;
  font-size: 4rem;
  background: none;
  color: #000;
  border-radius: 35px;
  border-width: 3px;
  border-color: #000;
}
.accordion:hover {
  background-color: #ccc;
}
.panel {
  display: none;
}
.section2 {
  margin-top: 20vh;
  height: 70rem;
  background-image: url(/gonaKis.png);
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
}
.section2 .accordion {
  color: #000;
  border-color: #fff;
  position: absolute;
  top: 50rem;
  left: 30vw;
  background: rgba(255, 255, 255, 0.6);
}
.section2 h1 {
  font-size: 4rem;
  position: absolute;
  top: 5rem;
  left: 30vw;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.section2 .last {
  position: absolute;
  top: 25rem;
  left: 30vw;
}
.section2 .box6 {
  height: 70rem;
  background: #fff;
  background-image: url(/kis.png);
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .section1 {
    height: 70rem;
  }
  .section1 .accordion {
    padding: 10px;
    font-size: 2.5rem;
    background: none;
    color: #000;
    border-radius: 35px;
    border-width: 3px;
    border-color: #000;
  }
  .section2 {
    margin-top: 20vh;
    height: 70rem;
    background-image: url(/gonaKis.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }
  .section2 .accordion {
    padding: 10px;
    font-size: 2.5rem;
    color: #000;
    border-color: #fff;
    position: absolute;
    top: 50rem;
    left: 30vw;
    background: rgba(255, 255, 255, 0.6);
  }
  .section2 h1 {
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    left: 30vw;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
  }
  .section2 .last {
    position: absolute;
    top: 25rem;
    left: 30vw;
  }
  .section2 .box6 {
    height: 70rem;
    background: #fff;
    background-image: url(/kis.png);
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }
}
